@font-face {
  font-family: "Comfortaa-Regular";
  src: url(/layouts/fonts/Comfortaa-Regular.ttf); }

@font-face {
  font-family: "Comfortaa-Semibold";
  src: url(/layouts/fonts/Comfortaa-SemiBold.ttf); }

@font-face {
  font-family: "Comfortaa-Light";
  src: url(/layouts/fonts/Comfortaa-Light.ttf); }

@font-face {
  font-family: "Urbanist-Regular";
  src: url(/layouts/fonts/Urbanist-Regular.ttf); }

@font-face {
  font-family: "Urbanist-Semibold";
  src: url(/layouts/fonts/Urbanist-SemiBold.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

.container {
  width: 100%;
  background-color: #FBF8F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0; }
  @media (max-width: 37.4375rem) {
    .container .principal {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow-y: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #E5D3BA;
      z-index: 1;
      /* NAV */ }
      .container .principal .navbarVis {
        display: none; }
      .container .principal .navbarHid {
        height: 4.375rem;
        width: 100%;
        box-sizing: border-box;
        position: fixed;
        padding-left: 2.625rem;
        padding-right: 2.625rem;
        z-index: 3;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        background-color: #e5d3ba65;
        filter: brightness(1.15);
        backdrop-filter: blur(1.25rem); }
        .container .principal .navbarHid #btnBurg {
          position: relative;
          box-sizing: border-box;
          width: 1.875rem;
          height: 1.875rem;
          background-color: transparent;
          border: none;
          overflow-y: hidden; }
          .container .principal .navbarHid #btnBurg .fa-bars {
            width: 2.1875rem;
            position: relative;
            top: 0.3125rem;
            margin-bottom: 0.625rem;
            color: #251B0E;
            pointer-events: none; }
          .container .principal .navbarHid #btnBurg .fa-times {
            width: 1.5625rem;
            color: #251B0E;
            pointer-events: none; }
          .container .principal .navbarHid #btnBurg .fa-bars.hid {
            display: none; }
        .container .principal .navbarHid .logo {
          box-sizing: border-box;
          width: 5.75rem;
          height: 2.5rem;
          position: relative;
          background-color: transparent;
          border: #251B0E 0.125rem solid;
          text-decoration: none;
          text-align: right; }
          .container .principal .navbarHid .logo .contentLogo span {
            font-family: "Comfortaa-Light";
            color: #251B0E;
            font-size: 1.875rem; }
      .container .principal .navHid {
        position: fixed;
        bottom: 0;
        left: -100%;
        width: 100%;
        height: 92%;
        padding-left: 2.625rem;
        padding-right: 2.625rem;
        z-index: 3;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        background-color: #e5d3ba65;
        backdrop-filter: blur(1.25rem);
        filter: brightness(1.1); }
        .container .principal .navHid ul {
          position: relative;
          top: 2.5rem;
          display: flex;
          flex-direction: column;
          gap: 1.875rem;
          z-index: 3; }
          .container .principal .navHid ul li {
            padding-bottom: 0.625rem;
            border-bottom: 0.0625rem solid #251B0E; }
            .container .principal .navHid ul li a {
              text-decoration: none;
              font-family: "Urbanist-Regular";
              color: #251B0E;
              font-size: 1rem; }
      .container .principal .navHid.see {
        left: 0; }
      .container .principal .card {
        position: relative;
        bottom: -65%;
        left: -5.625rem;
        width: 40%;
        height: 6.25rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0.625rem;
        background-color: #251B0E; }
        .container .principal .card .name {
          font-family: "Comfortaa-Light";
          color: #FBF8F4;
          font-size: 1.5rem; }
        .container .principal .card .dev {
          font-family: "Urbanist-Regular";
          color: #FBF8F4;
          font-size: 0.875rem; }
      .container .principal .zep {
        position: relative;
        left: 0.625rem;
        bottom: 3.125rem;
        height: 70%; }
      .container .principal .sqr {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 15%;
        background-color: #e5d3ba65;
        backdrop-filter: blur(1.25rem);
        filter: brightness(1.1);
        z-index: 2; }
    .container .aboutVis {
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 2.625rem;
      padding-right: 2.625rem;
      z-index: 0;
      background-color: #FBF8F4; }
      .container .aboutVis .titleAboutVis {
        font-family: "Comfortaa-Regular";
        color: #251B0E;
        font-size: 1.875rem; }
      .container .aboutVis .aboutVisDesc {
        font-family: "Urbanist-Regular";
        color: #251B0E;
        font-size: 0.9375rem;
        line-height: 1.875rem; }
      .container .aboutVis .readMore {
        font-family: "Comfortaa-Semibold";
        color: #251B0E;
        font-size: 1rem; }
    .container .aboutHid {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50vh 65vh 50vh 60vh;
      width: 100%; }
      .container .aboutHid .aboutHidItem1 {
        overflow-y: hidden; }
        .container .aboutHid .aboutHidItem1 img {
          width: 100%;
          height: auto; }
      @supports (object-fit: cover) {
        .container .aboutHid .aboutHidItem1 img {
          height: 100%;
          object-fit: cover;
          object-position: center center; } }
      .container .aboutHid .aboutHidItem2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 2.625rem;
        padding-right: 4.5rem;
        background-color: #251B0E; }
        .container .aboutHid .aboutHidItem2 .aboutHidTitle1 {
          font-family: "Comfortaa-Regular";
          color: #FBF8F4;
          font-size: 1.875rem; }
        .container .aboutHid .aboutHidItem2 .aboutHidDesc1 {
          font-family: "Urbanist-Regular";
          color: #FBF8F4;
          font-size: 0.875rem;
          line-height: 1.875rem; }
      .container .aboutHid .aboutHidItem3 {
        overflow-y: hidden; }
        .container .aboutHid .aboutHidItem3 img {
          width: 100%;
          height: auto; }
      @supports (object-fit: cover) {
        .container .aboutHid .aboutHidItem3 img {
          height: 100%;
          object-fit: cover;
          object-position: center center; } }
      .container .aboutHid .aboutHidItem4 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 2.625rem;
        padding-right: 4.5rem;
        background-color: #857764; }
        .container .aboutHid .aboutHidItem4 .aboutHidTitle2 {
          font-family: "Comfortaa-Regular";
          color: #FBF8F4;
          font-size: 1.875rem; }
        .container .aboutHid .aboutHidItem4 .aboutHidDesc2 {
          font-family: "Urbanist-Regular";
          color: #FBF8F4;
          font-size: 0.9375rem;
          line-height: 1.875rem; }
    .container .skills {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 3.75rem;
      padding-top: 5.625rem;
      padding-bottom: 5.625rem;
      background-color: #FBF8F4; }
      .container .skills .skillsTitle {
        margin-left: 2.625rem;
        font-family: "Comfortaa-Regular";
        color: #251B0E;
        font-size: 1.875rem; }
      .container .skills .skillsGrid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
        gap: 5rem; }
        .container .skills .skillsGrid .titleSkItem {
          font-family: "Comfortaa-Regular";
          color: #251B0E;
          font-size: 1.25rem; }
        .container .skills .skillsGrid .skItem1,
        .container .skills .skillsGrid .skItem2,
        .container .skills .skillsGrid .skItem3,
        .container .skills .skillsGrid .skItem4,
        .container .skills .skillsGrid .skItem5 {
          padding-right: 2.625rem;
          padding-left: 2.625rem;
          display: flex;
          flex-direction: column;
          gap: 3.75rem;
          justify-content: space-around;
          overflow-y: hidden; }
          .container .skills .skillsGrid .skItem1 .iconItemBox,
          .container .skills .skillsGrid .skItem2 .iconItemBox,
          .container .skills .skillsGrid .skItem3 .iconItemBox,
          .container .skills .skillsGrid .skItem4 .iconItemBox,
          .container .skills .skillsGrid .skItem5 .iconItemBox {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 1.875rem; }
            .container .skills .skillsGrid .skItem1 .iconItemBox .iconBox,
            .container .skills .skillsGrid .skItem2 .iconItemBox .iconBox,
            .container .skills .skillsGrid .skItem3 .iconItemBox .iconBox,
            .container .skills .skillsGrid .skItem4 .iconItemBox .iconBox,
            .container .skills .skillsGrid .skItem5 .iconItemBox .iconBox {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 1.25rem; }
              .container .skills .skillsGrid .skItem1 .iconItemBox .iconBox img,
              .container .skills .skillsGrid .skItem2 .iconItemBox .iconBox img,
              .container .skills .skillsGrid .skItem3 .iconItemBox .iconBox img,
              .container .skills .skillsGrid .skItem4 .iconItemBox .iconBox img,
              .container .skills .skillsGrid .skItem5 .iconItemBox .iconBox img {
                width: 3.125rem; }
              .container .skills .skillsGrid .skItem1 .iconItemBox .iconBox .iconName,
              .container .skills .skillsGrid .skItem2 .iconItemBox .iconBox .iconName,
              .container .skills .skillsGrid .skItem3 .iconItemBox .iconBox .iconName,
              .container .skills .skillsGrid .skItem4 .iconItemBox .iconBox .iconName,
              .container .skills .skillsGrid .skItem5 .iconItemBox .iconBox .iconName {
                font-family: "Urbanist-Regular";
                color: #251B0E;
                font-size: 0.9375rem; }
        .container .skills .skillsGrid .skItem2.hid,
        .container .skills .skillsGrid .skItem3.hid,
        .container .skills .skillsGrid .skItem4.hid,
        .container .skills .skillsGrid .skItem5.hid {
          display: none; }
        .container .skills .skillsGrid #seeMore {
          height: 1.875rem;
          width: 4.375rem;
          text-align: left;
          font-family: "Comfortaa-SemiBold";
          color: #251B0E;
          font-size: 0.9375rem;
          border: none;
          background-color: transparent; }
      .container .skills .skillsGrid.dis {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        gap: 5rem; }
    .container .projects {
      width: 100%;
      height: auto;
      background-color: #FBF8F4;
      display: flex;
      flex-direction: column; }
      .container .projects .portrait {
        height: 100vh;
        overflow-y: hidden;
        display: inline-block;
        text-align: center; }
        .container .projects .portrait .projectsTitle {
          position: absolute;
          transform: translate(20%, 1100%);
          font-family: "Comfortaa-SemiBold";
          color: #FBF8F4;
          font-size: 1.875rem; }
      @supports (object-fit: cover) {
        .container .projects .portrait img {
          height: 100%;
          object-fit: cover;
          object-position: center center; } }
      .container .projects .containerProjects .projectsGrid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
        row-gap: 1%;
        padding-top: 2.5rem;
        padding-left: 2.625rem;
        padding-right: 2.625rem;
        overflow-y: hidden; }
        .container .projects .containerProjects .projectsGrid .project:hover .projectImg {
          filter: brightness(1); }
        .container .projects .containerProjects .projectsGrid .project:hover .projectHover {
          opacity: 1; }
        .container .projects .containerProjects .projectsGrid .project {
          height: 50vh;
          width: auto;
          overflow-y: hidden; }
          .container .projects .containerProjects .projectsGrid .project .projectImg {
            width: 100%;
            height: auto;
            filter: brightness(0.6); }
          .container .projects .containerProjects .projectsGrid .project .projectHover {
            width: 50%;
            height: 35vh;
            position: relative;
            top: -18rem;
            left: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            overflow-y: hidden;
            opacity: 0; }
            .container .projects .containerProjects .projectsGrid .project .projectHover .projectName {
              font-family: "Comfortaa-Regular";
              color: #FBF8F4;
              font-size: 1.25rem; }
            .container .projects .containerProjects .projectsGrid .project .projectHover .projectDesc {
              overflow-y: hidden;
              line-height: 1.875rem;
              font-family: "Urbanist-Regular";
              color: #FBF8F4;
              font-size: 0.9375rem; }
            .container .projects .containerProjects .projectsGrid .project .projectHover input {
              width: 25vw;
              height: 12%;
              background-color: rgba(245, 222, 179, 0.363);
              backdrop-filter: blur(10);
              border: none;
              font-family: "Urbanist-Regular";
              color: #FBF8F4;
              font-size: 0.9375rem;
              text-align: left;
              padding-left: 0.3125rem; }
        @supports (object-fit: cover) {
          .container .projects .containerProjects .projectsGrid .project .projectImg {
            height: 100%;
            object-fit: cover;
            object-position: center center; } } }
