$bkg:#FBF8F4;
$drk: #251B0E;

// lights

$l1: #F0E6D7;
$l2: #E5D3BA;


// shadows
$s1: #CDAA7A;
$s2: #67553D;

@mixin bigShadow($x, $y, $z) {
    box-shadow: $x, $y, $z #59422250;
}


// gradients
@mixin gradient($light, $shadow) {
    background: linear-gradient(135deg, $light, $shadow);
}