@font-face {
    font-family: "Comfortaa-Regular";
    src: url(/layouts/fonts/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: "Comfortaa-Semibold";
    src: url(/layouts/fonts/Comfortaa-SemiBold.ttf);
}

@font-face {
    font-family: "Comfortaa-Bold";
    src: url(/layouts/fonts/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: "Josefin-Regular";
    src: url(/layouts/fonts/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: "Josefin-Semibold";
    src: url(/layouts/fonts/JosefinSans-SemiBold.ttf);
}