.about-vis {
    @include wh-web(70vw, 90vh, auto, auto);
    @include border-radius(50%, 50%, 0, 0);
    margin: 0 auto;
    background-color: $bkg;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    justify-content: center;
    padding: auto 30vw;

    .title {
        @include comfSem;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 4vh;
    }

    p {
        width: 30vw;
        @include josReg;
        font-size: 1rem;
        text-align: justify;
    }

    a {
        text-decoration: none;
        @include josSem;
        font-size: 1.2rem;
        padding-top: 10vh;
    }
}

.about-hid {
    @include wh-web(100vw, 110vh, auto, auto);
    display: flex;
    align-items: center;

    .about-hid-a {
        position: relative;
        @include wh-web(45vw, 100vh, auto, auto);
        @include border-radius(65%, 35%, 30%, 0%);
        @include gradient($l2, $s2);
        box-shadow: 20px 30px 10px #88878550;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20vh;

        img {
            width: 22rem;
            position: relative;
            top: 15vh;
            @include border-radius(20%, 20%, 25%, 0%);
            box-shadow: 15px 25px 6px #251b0e36;
        }

        span {
            position: relative;
            right: -5vw;
            @include josReg;
            font-size: 1.1rem;
        }

    }

    .about-hid-b {
        position: relative;
        left: -7vw;
        @include wh-web(43vw, 78vh, auto, 85vh);
        @include border-radius(0%, 20%, 75%, 40%);
        background-color: #e5d3ba0e;
        backdrop-filter: blur(2rem);
        filter: brightness(0.9);


    }
}