#btnBurg {
    position: relative;
    box-sizing: border-box;
    width: toRem(30);
    height: toRem(30);
    background-color: transparent;
    border: none;
    overflow-y: hidden;

    .fa-bars {
        width: toRem(35);
        position: relative;
        top: toRem(5);
        margin-bottom: toRem(10);
        color: $drk;
        pointer-events: none;
    }

    .fa-times {
        width: toRem(25);
        color: $drk;
        pointer-events: none;
    }

    .fa-bars.hid {
        display: none;
    }

}