.navbar {
    @include wh-web(45vw, 11vh, auto, auto);
    border-bottom: $l1 3px solid;
    position: absolute;
    top: 40vh;
    left: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px, 5px, 5px, #00000040;

    span {
        visibility: hidden;
    }

    .options {
        display: flex;
        flex-direction: row;
        gap: 4vw;
        padding: 1vw;
        align-items: baseline;

        #logo {
            a {
                text-decoration: none;
                @include comfBol;
                font-size: 2.2rem;
            }
        }

        .option {
            a {
                text-decoration: none;
                @include josReg;
                font-size: 1.2rem;
            }
        }
    }
}

.cardName {
    @include wh-web(22vw, 17vh, auto, auto);
    position: absolute;
    top: 90vh;
    left: 13vw;
    border-radius: 0 50px 0 50px;
    @include gradient($s1, $s2);
    box-shadow: 10px 10px 5px #59422250;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;

    #name {
        @include comfReg;
        font-size: 2rem;
    }

    #dev {
        @include josReg;
        font-size: 1.2rem;
    }
}