@import "components/responsive";
@import "components/color";
@import "components/curves";
@import "components/fonts";
@import "partials/principal";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    background-color: $bkg;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10vh;

    .principal {
        @include wh-web(100vw, 140vh, auto, auto);
        @include gradient($l1, $s1);
        @include border-radius(0, 0, 50%, 50%);
        position: relative;
        top: -40vh;
        margin-bottom: -40vh;
        box-shadow: 20px 30px 10px #59422250;
    }

    .about-vis {
        @include wh-web(70vw, 90vh, auto, auto);
        @include border-radius(50%, 50%, 0, 0);
        margin: 0 auto;
        border: black 2px solid;
    }

    .about-hid {
        @include wh-web(100vw, 100vw, auto, auto);
        display: flex;
        border: black 2px solid;
    }
}