@import "components/responsive";
@import "components/color";
@import "components/curves";
@import "components/fonts";
@import "partials/principal";
@import "partials/about";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 16px;
}

.container {
    background-color: $bkg;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;

    .principal {
        @include wh-web(100vw, 140vh, auto, auto);
        @include gradient($l1, $s1);
        @include border-radius(0, 0, 50%, 50%);
        position: relative;
        top: -40vh;
        margin-bottom: -40vh;
        box-shadow: 20px 30px 10px #59422250;
        z-index: 1;
    }

    .zep {
        width: 450px;
        position: absolute;
        top: 30vh;
        margin-left: 2vw;
        z-index: 2;
    }

    .about {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        z-index: 3
    }


}